---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import PostItem from "../components/PostItem.astro";

let allPosts = await getCollection("blog");
allPosts.sort((a: any, b: any) => new Date(b.data.pubDate) - new Date(a.data.pubDate));

const pageTitle = "Blog";
---

<Base pageTitle={pageTitle}>
    <h2>My Astro Learning Journey</h2>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul class="post-listing">
        {
            allPosts.map((post: any) => <PostItem post={post} />)
        }
    </ul>
</Base>
