---
import BaseLayout from "../layouts/Base.astro";
import Intro from "../components/blocks/Intro.mdx";
import QuickLinks from "../components/blocks/QuickLinks.mdx";
import Greeting from "../components/Greeting.svelte";

const pageTitle = "Home";
const messages = ["Hello", "Hej", "Hallo", "Hola", "Habari", "Salut"];
---

<BaseLayout pageTitle={pageTitle}>
    <section id="hero">
        <h2>My Astro Blog</h2>
        <p class="subtitle">
            A blog about my journey with Astro.
        </p>
    </section>
    <section id="intro">
        <Greeting messages={messages} client:load />
        <Intro />
    </section>
    <section id="quick-links">
        <QuickLinks />
    </section>
</BaseLayout>
