---
import BaseLayout from "../layouts/Base.astro";
import Intro from "../components/blocks/Intro.mdx";
import QuickLinks from "../components/blocks/QuickLinks.mdx";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
    <section id="hero">
        <h2>My Astro Blog</h2>
        <p class="subtitle">
            A blog about my journey with Astro.
        </p>
    </section>
    <section id="intro">
        <Intro />
    </section>
    <section id="quick-links">
        <QuickLinks />
    </section>
</BaseLayout>
