---
import Social from "./Social.astro";

const socials = [
    { platform: "github", username: "cealigbe", alias: "gh" },
    { platform: "linkedin", username: "in/cealigbe", alias: "li" },
    { platform: "instagram", username: "chuckaligbe", alias: "ig" },
    { platform: "threads", username: "@cealpha", alias: "th" },
];
---

<footer id="site-footer">
    <p>
        &copy; {new Date().getFullYear()},&nbsp;
        <a href="http://chuck.aligbe.com">Chuck Aligbe</a>. All rights reserved. &nbsp;
        <a href="/rss.xml">
            <span>RSS Feed</span>
        </a>
        &nbsp;
        <svg class="rss-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rss-icon lucide-rss"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg>
    </p>
    <ul class="socials">
        {
            socials.map((social) => (
                <li>
                    <Social
                        platform={social.platform}
                        username={social.username}
                        alias={social.alias}
                    />
                </li>
            ))
        }
    </ul>
</footer>

<style>
    #site-footer p {
        margin-bottom: var(--sp-xl);
    }

    .rss-icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        vertical-align: baseline;
        stroke-width: 4;
        color: var(--clr-primary);
    }

    .socials {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: var(--sp-sm);
        justify-content: center;
    }
</style>
