---
const { post } = Astro.props;

const options = {
    year: "numeric",
    month: "long",
    day: "numeric",
    timeZone: "UTC",
};

---

<li>
    <a href={`/posts/${post.id}`}>{post.data.title}</a>
    <span>
        {post.data.pubDate.toLocaleDateString("en-US", options)}
    </span>
</li>
